# ==========================
# Python
# ==========================
__pycache__/
*.py[cod]
*$py.class

# ==========================
# Virtual Environments
# ==========================
.venv/
venv/
env/
ENV/

# ==========================
# Jupyter Notebook
# ==========================
.ipynb_checkpoints/

# ==========================
# VS Code
# ==========================
.vscode/

# ==========================
# PyCharm
# ==========================
.idea/

# ==========================
# Pytest
# ==========================
.pytest_cache/

# ==========================
# mypy
# ==========================
.mypy_cache/

# ==========================
# Coverage
# ==========================
.coverage
htmlcov/

# ==========================
# Build files
# ==========================
build/
dist/
*.egg-info/

# ==========================
# Operating System
# ==========================
.DS_Store
Thumbs.db

# ==========================
# Environment Variables
# ==========================
.env

# ==========================
# MLflow
# ==========================
mlruns/

# ==========================
# Logs
# ==========================
*.log